@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --color-body: #ffffff;
    --color-heading: #ffffff;
    --color-base: #eb8755;
    --color-brand2: #ea5c15;
    --color-brand: #eb8755;
    --color-base2: #eeb8a1;
    --sidbar-width: 240px;
}

body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: "Oswald"
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-brand);
}

img{
    width: 100%;
}

.text-brand{
    color: var(--color-brand2);
}

.bg-base{
    background-color: var(--color-brand);
    width: 65%;
    height: 100%;
    margin: auto;
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.city-info {
    background: url('../images/sakarya-map.png') no-repeat center center;
    background-size: cover;
    position: relative;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.city-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 10px;
}

.city-info > * {
    position: relative;
    z-index: 2;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.image-container img {
    transition: transform 0.3s ease;
    display: block;
    width: 100%;
    border-radius: 15px;
}

.image-container:hover img {
    transform: scale(1.1);
    border-radius: 15px;
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 var(--color-brand2);
}

.interest img {
    transition: transform 0.3s ease;
}

.interest img:hover {
    transform: scale(1.05);
}

.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand2);
    color: var(--color-base);
}

.navbar{
    background-color: var(--color-base);
}

.navbar .nav-item .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-item .nav-link:hover{
    color: var(--color-brand2);
}

@media (min-width: 992px){
    .navbar{
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(235, 135, 85, 0.8), rgba(238, 184, 161, 0.8), rgba(255, 255, 255, 0.8)), url(../images/sidebar-img.png);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img{
        border: 5px solid var(--color-body);
    }

    #content-wrapper{
        padding-left: var(--sidbar-width);
    }
}

.btn{
    padding: 12px 28px;
    font-weight: 700;
    width: 300px;
}

.btn-brand{
    background-color: var(--color-base);
    border-color: var(--color-brand);
    color: var(--color-body);
}

.btn-brand:hover, .btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-body);
    border-color: var(--color-brand);
}

.progress{
    background-color: var(--color-base);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 75%;
}

.pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: var(--color-brand2);
    height: 25px;
    width: 0;
}

.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: var(--color-brand2);
    height: 25px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: var(--color-brand2);
    height: 25px;
    width: 0;
}

.progress p{
    color: white;
    padding: 3px 12px;
}

@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 30%;
    }
}

@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 45%;
    }
}

@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 25%;
    }
}